{% extends 'base.html' %}
{% block title %}Product Detail{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="{{product.rimage.url}}" width="100%">
        </div>
        <div class="col">
            <h1 class="display-6">{{product.rtitle}}</h1>
            <p>{{product.rtotal}}/{{product.rstock}}</p>
<!--         if 대여-->
            {% if product.rstock > 0 %}
            <a href="#" class="btn btn-primary btn-sm">대여</a>
<!--         else 예약-->
            {% else %}
            <p>예약인원수: {{ reserve_count.total }}명</p>
<!--         대여예상날짜-->

            {% if user_count.total > 0 %}
            <div class="row" style="margin:20px auto;">
            <div class="col-sm-12">
            <div class="alert alert-danger">
            <strong>이미 예약한 도서입니다.</strong>
            </div>
            </div>
            </div>
            {% else %}
            {% if rental_count.total > reserve_count.total %}
            {% for rtd in rental_date %}
            <p>예상대여예정일: {{ rtd.delta|date:'Y년 m월 d일' }}</p>
            {% endfor %}
            {% else %}
            <p>예상대여예정일: {{ reserve_date.delta|date:'Y년 m월 d일' }}</p>
            {% endif %}
            <form action="{% url 'rental:reserve' product.id %}" method="post">
                {% csrf_token %}
                <input type="submit" onclick="return confirm('예약하시겠습니까?');" class="btn btn-primary btn-sm" value="예약">
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}