
<!--<!DOCTYPE html>-->
{% extends 'base.html' %}
{% load static %}
{% block title %}홈{% endblock %}
{% block content %}

<div class="clear"></div>
    <section id="content_box">
        <div class="box2"><img src="{% static 'images/oldbook_poster.PNG' %}"></div>
        <div class="box4">
            <div class="notice">
            <img src="{% static 'images/box1.PNG' %}">
            </div>
            <div class="notice_text">
            </div>
        </div>
        <div class="box5">
            <div class="title">
                <img src="{% static 'images/box2.PNG' %}">
            </div>

            <div class="bestbook">
                <span><img src="{% static 'images/amond.PNG' %}"></span>
                <span><img src="{% static 'images/book2.PNG' %}"></span>
                <span><img src="{% static 'images/book3.PNG' %}"></span>
            </div>
        </div>
            <div class="clear"></div>
        </div>


        <div class="clear"></div>
    </section>

{% endblock %}
<!--</body>-->
<!--</html>-->