{% extends 'base.html' %}
{% load static %}

{% block title %}
    myCart
{% endblock %}
d
{% block content %}
<div class="container">
    {% if not cart_items %}
    <h4>대여장바구니에 담긴 상품이 없습니다.</h4>
    {% else %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">이미지</th>
            <th scope="col">제목</th>
            <th scope="col">구분</th>
            <th scope="col">삭제</th>
        </tr>
        </thead>
        <tbody>

        {% for cart_item in cart_items %}
        {% with product=cart_item.product %}
        <tr>
            <th scope="row">
                <a href="{{product.get_absolute_url}}">
                    <img src="{{product.rimage.url}}" class="img-thumbnail" height="100px" width="100px">
                </a>
            </th>
            <td>{{product.rtitle}}</td>
            <td>
                <a>대여</a>
            </td>

            <td>
                <a href="{% url 'rcart:rproduct_remove' product.id %}">삭제</a>
            </td>

        </tr>
        {% endwith %}
        {% endfor %}
        </tbody>
    </table>


    <p class="text-right">
        <a href="{% url 'rental:rentbook_all' %}" class="btn btn-secondary">쇼핑 계속하기</a> <!--url 메인페이지로 다시 걸기-->
        <a href="{% url 'rentorders:rent_create' %}" class="btn btn-primary">대여하기</a>
    </p>
    {% endif %}
</div>
{% endblock %}