{% extends 'base.html' %}
{% load static %}

{% block title %}
    myCart
{% endblock %}
d
{% block content %}
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">이미지</th>
            <th scope="col">제목</th>
            <th scope="col">수량</th>
            <th scope="col">구분</th>
            <th scope="col">삭제</th>
            <th scope="col">가격</th>
        </tr>
        </thead>
        <tbody>
        {% for item in rcart %}
        {% with product=item.product %}
        <tr>
            <th scope="row">
                <a href="{{product.get_absolute_url}}">
                    <img src="{{product.image.url}}" class="img-thumbnail" height="100px" width="100px">
                </a>
            </th>
            <td>{{product.rtitle}}</td>
            <td>
                <form action="{% url 'rcart:product_add' product.id %}" method="post">
                    {{item.quantity_form.quantity}}
                    {{item.quantity_form.is_update}}
                    <input type="submit" class="btn btn-primary" value="변경">
                    {% csrf_token %}
                </form>
            </td>

            <td>
                <a>대여</a>
            </td>

            <td>
                <a href="{% url 'rcart:product_remove' product.id %}">삭제</a>
            </td>
            <td class="num">0</td>

        </tr>
        {% endwith %}
        {% endfor %}

<!--        {% if cart.coupon %}-->
<!--        <tr class="subtotal">-->
<!--            <td>Subtotal</td>-->
<!--            <td colspan="4"></td>-->
<!--            <td>${{cart.get_product_total}}</td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--            <td>"{{cart.coupon.code}}" coupon (${{cart.coupon.amount}})</td>-->
<!--            <td colspan="4"></td>-->
<!--            <td> -${{cart.get_discount_total|floatformat:"2"}}</td>-->
<!--        </tr>-->
<!--        {% endif %}-->

        <tr class="total">
            <td>총액</td>
            <td colspan="4"></td>
            <td class="num">${{cart.get_total_price|floatformat:"2"}}</td>
        </tr>
        </tbody>
    </table>


    <p class="text-right">
        <a href="{% url 'rental:rentbook_all' %}" class="btn btn-secondary">쇼핑 계속하기</a> <!--url 메인페이지로 다시 걸기-->
        <a href="{% url 'orders:order_create' %}" class="btn btn-primary">구매하기</a>
    </p>
</div>
{% endblock %}