<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block script %}
    {% endblock %}

    {% block style %}
    {% endblock %}

</head>
<body>
    <header>
        <div id="logo">
            <div class="box">
                <a href="{% url 'home:home' %}">
                <div class="main_logo">
                    <img src="{% static 'images/oldlibrary.PNG' %}" style="vertical-align: middle;">
                    고서관
                </div>
                </a>
                <form action="{% url 'search:searchResult' %}" method="get">
                    {% csrf_token %}
                    <div class="gum">
                    <div class='search'>
                    <input type='search' class='input_text' name="q">
                    </div>
                    <button type='submit' class='sch_smit' value="Search">검색</button>
                </div>
                </form>
                <nav class="main_menu">
                        <ul>
                        <li><a href="{% url 'rental:rentbook_all' %}" style="text-decoration: none; color: #85796e;">대여</a></li>
                        <li><a href="{% url 'shop:buybook_all' %}" style="text-decoration: none; color: #85796e;">구매</a></li>
                        <li><a href=http://naver.me/G8UAlN8Q style="text-decoration: none; color: #85796e;">도서신청</a></li>
<!--                        <li><a href="#" style="text-decoration: none; color: #85796e;">로그인</a></li>-->
                        {% if user.is_authenticated %}
                        <li>
                        <a href="#">{{user.nickname}}님</a>
                        </li>
                            <li><a href="{% url 'logout' %}" style="text-decoration: none; color: #85796e;">로그아웃</a></li>
                        <li>
                        <a class="nav-link" href="{% url 'rental:rental_history' user.id %}" style="text-decoration: none; color: #85796e;">대여내역</a>
                        </li>
                        <li>
                            <a href="{% url 'rcart:detail' %}" style="text-decoration: none; color: #85796e;">대여 장바구니</a>
                        </li>
                        <li>
                            <a href="{% url 'cart:detail' %}" style="text-decoration: none; color: #85796e;">구매 장바구니</a>
                        </li>
                        {% else %}
                            <li><a href="{% url 'login' %}" style="text-decoration: none; color: #85796e;">로그인</a></li>
                            <li><a href="{% url 'signup' %}" style="text-decoration: none; color: #85796e;">회원가입</a></li>
                        {% endif %}
                        </ul>
                </nav>
            </div>
        </div> <!-- logo -->
    </header>





    {% block content %}
    {% endblock %}
 <footer>
        <div class="box">
            <ul id="footer_menu">
            <li>회사 약관</li>
            <li> | </li>
            <li>회사 약관</li>
            <li> | </li>
            <li>회사 약관</li>
            <li> | </li>
            <li>회사 약관</li>
            </ul>

            <div class="footers">
                <h3>고서관</h3>
                <ul>
                <li>사업자 등록번호 12345</li>
                <li>팀 에소모히또 | 한양여자대학교 스마트 IT과</li>
                <li>전화 1234-1234 </li>
                </ul>
            </div>
            <div class="footers">
                <h3>고객센터</h3>
                <ul>
                <li>한양여자대학교 스마트 IT과 에소모히또</li>
                <li>전화 1234-1234</li>
                <li><span>1:1 문의 바로가기</span></li>
                </ul>
            </div>
            <div class="footers">
                <h3>전자금융거래 분쟁처리</h3>
                <ul>
                <li>전화 1234-1234</li>
                <li><span>1:1 문의 바로가기</span></li>
                </ul>
            </div>

        </div>
    </footer>
</body>
</html>