<!DOCTYPE html>
{% load humanize %}
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
<h1>고서관</h1>
<p>
주문번호 {{order.id}} </br>
<span class="secondary">{{ordere.created|date:"M d, Y"}}</span>
</p>
<h3>{% if order.paid %}배송정보 {% else %}Pending payment {% endif %}</h3>
<p>
{{order.name}}<br>
{{order.email}}<br>
{{order.address}}<br>
    {{order.detailadd}}<br>
</p>
<h3>상품</h3>
<table>
<thead>
<tr>
<th>Product ID</th>
<th>Product</th>
<th>Price</th>
<th>Quantity</th>
<th>Cost</th>
</tr>
</thead>
<tbody>
{% for item in order.items.all %}
<tr class="row{% cycle "1" "2" %}">
<td>{{item.product.id}}</td>
<td>{{item.product.btitle}}</td>
<td class="num">&#8361;{{item.price|floatformat:'0' | intcomma}}</td>
<td class="num">{{item.quantity}}</td>
<td class="num">&#8361;{{item.get_item_price|floatformat:'0' | intcomma}}</td>
</tr>
{% endfor %}
<tr class="total">
<td colspan="4">Total</td>
<td class="num">&#8361;{{order.get_total_price|floatformat:'0' | intcomma}}</td>
</tr>
</tbody>
</table>
</body>
</html>